.transparent-navbar {
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 10px 0; /* Optional padding */
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem; /* Logo size */
}
